<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>메인 페이지</title>
    <link href="/css/default.css" rel="stylesheet">
</head>
<body>
<div id="container">
    <h1>메인 페이지</h1>
    <th:block sec:authorize="isAnonymous()">
        <input onclick="location.href='member/join'" type="button" value="회원가입">
        <input onclick="location.href='member/login'" type="button" value="로그인">
        <input onclick="location.href='/oauth2/authorization/google'" type="button" value="구글 로그인">
        <input onclick="location.href='/oauth2/authorization/kakao'" type="button" value="카카오 로그인">
    </th:block>
    <th:block sec:authorize="isAuthenticated()">
        <input onclick="location.href='member/logout'" type="button" value="로그아웃">
        <input onclick="location.href='product/products'" type="button" value="상품목록">
        <input onclick="location.href='order/myOrders'" type="button" value="주문내역">
    </th:block>
    <div sec:authorize="isAuthenticated()">
    	이 콘텐츠는 인증받은 사용자만 볼 수 있습니다.<br>
    	로그인 유저: <span sec:authentication="name"></span><br>
		유저정보: <span sec:authentication="principal"></span><br>
		권한: <span sec:authentication="principal.authorities"></span>    	
    </div>
    <div sec:authorize="hasRole('ROLE_ADMIN')">
    	이 콘텐츠는 관리자 권한을 가진 관리자만 볼 수 있습니다.
    </div>
    <div sec:authorize="hasRole('ROLE_USER')">
    	이 콘텐츠는 사용자 권한을 가진 사용자만 볼 수 있습니다.
    </div>
</div>
</body>
</html>